@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,200&family=Nunito:wght@200;300;400;700;800;900&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Satisfy&family=Yuji+Mai&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
$color: rgb(245, 87, 87);
/*mixin*/
@mixin background {
  background-position: 70% center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 680px;
  width: 100vw;
  object-fit: cover;
}
@mixin background1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  object-fit: cover;
}
.Navbar .nav-items .nav-links {
  margin-right: 2.1rem;
  color: #000 !important;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  &:hover {
    color: $color !important;
  }
}
.buttons {
  background: $color;
  color: #000;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 2px solid$color;
  text-transform: capitalize;
  &:hover {
    background-color: #fff;
    color: $color;
  }
}
.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  z-index: 1;
  @include background();
  .img-div1 {
    background-image: url(./images//slide1.jpg);
    @include background();
    display: block;
  }
  .img-div2 {
    background-image: url(./images//slide2.jpg);
    display: block;
    @include background();
  }
  & .Row {
    margin-bottom: 8rem;
    color: #000;
    text-align: start;
    & h1 {
      font-size: 4.5rem;
      font-weight: 600;
      letter-spacing: 0.2rem;
    }
    & h2 {
      font-size: 1.3rem;
      letter-spacing: 0.2rem;
    }
  }
}
/*product section*/
.products {
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: hidden;
  .Cards {
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    color: #fff;
    .card-img1 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./images//offer1.jpg);
      height: 75vh;
      @include background1();
      transition: all 1s;
      &:hover {
        transform: scale(1.1);
      }
    }
    .card-img2 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./images//offer2.jpg);
      height: 35vh;
      @include background1();
      transition: all 1s;
      &:hover {
        transform: scale(1.1);
      }
    }
    .card-img3 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./images//offer3.jpg);
      transition: all 1s;
      height: 35vh;
      @include background1();
      &:hover {
        transform: scale(1.1);
      }
    }
    .card-img4 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./images//offer4.jpg);
      height: 75vh;
      @include background1();
      transition: all 1s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .product-content {
    position: absolute;
    top: 17rem;
    left: 2rem;
    text-align: center;
    padding: 2rem;
  }
}
/*card container*/
.card-container {
  padding: 2rem;
  text-transform: capitalize;
  overflow: hidden;
  .card-1 {
    border: none;
    
    .card-content {
      width: 100%;
      height: 100%;
      .h3 {
        font-size: 1rem;
        display: block;
        font-weight: 500;
      }
      .para {
        font-size: 0.9rem;
        color: $color;
        display: block;
      }
      .h2 {
        font-family: 1.5rem;
        display: block;
        font-weight: 400;
      }
      & i {
        padding: 0 0.3rem;
      }
    }
  }
}
/*girl*/
.main-girl {
  position: relative;
  padding: 2rem 0;
  overflow: hidden;
  .girl {
    color: #fff;
    text-transform: uppercase;
    background-image: url(./images//lg.jpg);
    @include background1();
    transition: all 1s;
    &:hover {
      transform: scale(1.2);
    }
    & h1 {
      text-align: center;
      padding: 2.5rem;
      font-weight: 700;
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
    }
  }
}
.summer {
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  text-transform: capitalize;
  & h2 {
    color: $color;
    font-weight: bold;
    padding: 2rem;
  }
  .imges {
    width: 100%;
    height: auto;
  }
  .summer-content {
    & h1 {
      font-size: 2rem;
      padding: 0.5rem;
    }
    & p {
      font-size: 1rem;
      letter-spacing: 0.05rem;
      padding: 0.5rem 1rem;
    }
  }
}
.contact {
  text-transform: capitalize;
  & h2 {
    padding: 2rem;
    color: $color;
    font-weight: bold;
  }
  .contact-info {
    & p {
      color: grey;
    }
    & span {
      display: block;
      padding: 0.2rem 0;
      font-size: 1.2rem;
      font-weight: 500;
    }
    padding: 5rem 3rem;
  }
}
/*footer*/
.footer{
  background-color: $color;
  padding: 3rem;
  margin-top: 1rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}
@media (max-width: 450px) {
  .carousel {
    & .Row {
      margin-bottom: 3rem;
      color: #000;
      text-align: start;
      & h1 {
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: 0rem;
      }
      & h2 {
        font-size: 1rem;
        letter-spacing: 0rem;
      }
    }
  }
  .products {
    padding: 1.5rem 0;
    .card-img1,
    .card-img4 {
      margin: 2rem 0;
    }
  }
  .main-girl{
    padding: 0;
  }
  .girl {
    & h1 {
      padding: 2.5rem 0;
      letter-spacing: 0;
    }
  }
  .summer {
    padding: 1rem 0;
    .summer-content {
      & h1 {
        padding: 0.5rem 0;
      }
      & p {
        padding: 0.5rem 0;
      }
    }
  }
}
