@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,200&family=Nunito:wght@200;300;400;700;800;900&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Satisfy&family=Yuji+Mai&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/*mixin*/
.Navbar .nav-items .nav-links {
  margin-right: 2.1rem;
  color: #000 !important;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.Navbar .nav-items .nav-links:hover {
  color: #f55757 !important;
}

.buttons {
  background: #f55757;
  color: #000;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 2px solid #f55757;
  text-transform: capitalize;
}

.buttons:hover {
  background-color: #fff;
  color: #f55757;
}

.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  z-index: 1;
  background-position: 70% center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 680px;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel .img-div1 {
  background-image: url(./images//slide1.jpg);
  background-position: 70% center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 680px;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.carousel .img-div2 {
  background-image: url(./images//slide2.jpg);
  display: block;
  background-position: 70% center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 680px;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel .Row {
  margin-bottom: 8rem;
  color: #000;
  text-align: start;
}

.carousel .Row h1 {
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.carousel .Row h2 {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}

/*product section*/
.products {
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: hidden;
}

.products .Cards {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
  color: #fff;
}

.products .Cards .card-img1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./images//offer1.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images//offer1.jpg);
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.products .Cards .card-img1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products .Cards .card-img2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./images//offer2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images//offer2.jpg);
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.products .Cards .card-img2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products .Cards .card-img3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./images//offer3.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images//offer3.jpg);
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .Cards .card-img3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products .Cards .card-img4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./images//offer4.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images//offer4.jpg);
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.products .Cards .card-img4:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products .product-content {
  position: absolute;
  top: 17rem;
  left: 2rem;
  text-align: center;
  padding: 2rem;
}

/*card container*/
.card-container {
  padding: 2rem;
  text-transform: capitalize;
  overflow: hidden;
}

.card-container .card-1 {
  border: none;
}

.card-container .card-1 .card-content {
  width: 100%;
  height: 100%;
}

.card-container .card-1 .card-content .h3 {
  font-size: 1rem;
  display: block;
  font-weight: 500;
}

.card-container .card-1 .card-content .para {
  font-size: 0.9rem;
  color: #f55757;
  display: block;
}

.card-container .card-1 .card-content .h2 {
  font-family: 1.5rem;
  display: block;
  font-weight: 400;
}

.card-container .card-1 .card-content i {
  padding: 0 0.3rem;
}

/*girl*/
.main-girl {
  position: relative;
  overflow: hidden;
}

.main-girl .girl {
  color: #fff;
  text-transform: uppercase;
  background-image: url(./images//lg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main-girl .girl:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main-girl .girl h1 {
  text-align: center;
  padding: 2.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.summer {
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  text-transform: capitalize;
}

.summer h2 {
  color: #f55757;
  font-weight: bold;
  padding: 2rem;
}

.summer .imges {
  width: 100%;
  height: auto;
}

.summer .summer-content h1 {
  font-size: 2rem;
  padding: 0.5rem;
}

.summer .summer-content p {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding: 0.5rem 1rem;
}

.contact {
  text-transform: capitalize;
}

.contact h2 {
  padding: 2rem;
  color: #f55757;
  font-weight: bold;
}

.contact .contact-info {
  padding: 5rem 3rem;
}

.contact .contact-info p {
  color: grey;
}

.contact .contact-info span {
  display: block;
  padding: 0.2rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}

/*footer*/
.footer {
  background-color: #f55757;
  padding: 3rem;
  margin-top: 1rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}

@media (max-width: 450px) {
  .carousel .Row {
    margin-bottom: 3rem;
    color: #000;
    text-align: start;
  }
  .carousel .Row h1 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0rem;
  }
  .carousel .Row h2 {
    font-size: 1rem;
    letter-spacing: 0rem;
  }
  .products {
    padding: 1.5rem 0;
  }
  .products .card-img1,
  .products .card-img4 {
    margin: 2rem 0;
  }
  .girl h1 {
    padding: 2.5rem 0;
    letter-spacing: 0;
  }
  .summer {
    padding: 1rem 0;
  }
  .summer .summer-content h1 {
    padding: 0.5rem 0;
  }
  .summer .summer-content p {
    padding: 0.5rem 0;
  }
}
/*# sourceMappingURL=index.css.map */